html, body {
    height: auto;

}
body
{
    background: linear-gradient(100deg, #FC8A8A, #2447c7) no-repeat;
    padding: 0;
    margin:0;
    color: black;
    font-size: 15px;
    /*font-family: 'Montserrat', serif;*/
    font-weight: 400;
    
}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}

.container
{
    
    width: 1181px;
    margin: 0 auto;
    
}
.head 
{
    background: linear-gradient(100deg, #FC8A8A, #2447c7) no-repeat;
    border-radius: 0px 0px 15px 15px;
    box-shadow:0px 2px 10px  rgb(0, 0, 0);
}

.header
{
    padding: 57px;
}

header a
{
    color: black;
}

.logo
{
    margin-right: 361px;
}

.menu
{

    display: flex; /*фиксирует в одну линию*/
}

.menu li a
{
    text-decoration:none; 
    text-transform: uppercase;
    font-size: 25px;
    font-weight:bold;
}
.menu li
{
    margin-right: 50px;
}

.nav
{
    display: flex;
    align-items: center;
}

.container
{
    
    width: 1181px;
}
.hea 
{
    width: 1481px;
    margin: 0 auto;
}
.name0
{
    background-color: rgb(207, 223, 241);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 270px; 
    height: 40px;
    padding-top:20px;
    margin-left: 630px;
    border-radius: 45px;
    text-align: center;
}
.name1
{
    background-color: rgb(207, 223, 241);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 550px; 
    height: 60px;
    padding-top:20px;
    margin-left: 500px;
    border-radius: 45px;
    text-align: center;
}
.name2
{
    background-color: rgb(207, 223, 241);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 750px; 
    height: 60px;
    padding-top:20px;
    margin-left: 450px;
    border-radius: 45px;
    text-align: center;
}

.Text
{
    margin-top: 20px;
}
.Text h1
{
    text-align: center;
}
.color
{
    font-style: italic;
    color: rgb(19, 131, 66);
    font-size: larger;
    font-weight: bolder;
}
.Text
{
    
    font-style: normal;
    font-weight: 500;
    width: 1181px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.Textcont
{
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    background-color: azure;
    font-style: normal;
    font-weight: 500;
    width: 1200px;
    margin: 0 auto;
    border-radius: 25px;
}


.Text .br2
{
    line-height: 30px;
    margin: 20px;
    font-size: large;
}
.Text .cvad
{
    font-weight: bolder;
    font-size: large;
    border: 2px solid rgb(81, 43, 253);
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(235, 178, 243);
}

.Text .abz
{
    
    font-size: large;
    border: 2px solid rgb(81, 43, 253);
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(207, 223, 241);
}

.var
{
    margin-left: 30px;
    font-style: italic;
    font-weight: 700;
}
